
ul{
list-style-type: none;
	overflow: hidden;
}


li {	
float: left;
margin-left: 45px;
}
#restaurantName{
	font-family:impact;
}



#footer{
	margin-top: 50px; 
	text-align: center;
	width: 100%;
	background-color: white;
}

a:visited {
	color: purple;

}

a:hover {
	font-weight: bold;
}

a:active {
	text-decoration: none;
	color: yellow;
}

.menuTable {
	table-layout: fixed;
		border: 5px solid black;
	background-color: yellow;
	text-align: center;
	
}

.menuTable tr th {
	text-align: center;

}


.beveragesMenu{
	background-color: yellow;
	margin: 0px auto;

}

.beveragesMenu tr td {
	text-align: left;
	padding: 5px;

}

