#product1{
	text-align: center;
}

th {
	background-color: grey;
}

#product2 {
text-align: center;
margin-top: 425px;
}
body{
	background: url("https://stillchasingeuterpe.files.wordpress.com/2013/01/an-awesome-wave1.jpg");
	background-size: 400px 400px;
	background-repeat: no-repeat;
	background-position: 50% 2%;

}
h1{
	font-family: impact;
}

li{
	font-style: italic;
}

a{
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
	background-color: orange;
}


tbody {
font-style: italic;
background-color: orange;
}