ul{
	list-style-type: none;
	overflow: hidden;
}


li {

	float: left;
	margin-left: 45px;
}

img {

	padding-top: 25px;
}

label {
	float: left;
	width: 175px;
	text-align: right;
	margin-top: 25px;
	clear: left;
	margin-right: 25px;

}
input[type=text] {
	margin-top: 25px;
}

input[type=radio] {
	margin-top: 30px;

}
select {
	margin-top: 25px;
		}

textarea {
	margin-top: 25px;
		}


input[type=submit]{
margin-left: 265px;
margin-top: 15px;
}
















