body h1{
  font-family: arial;
}


table {
  margin: auto;
  border-color: solid black;
  border: solid black ;
  border-collapse: collapse;
  visibility: hidden;
}

thead th{
  border: solid black;
  background-color: lightGray;
  padding: 10px;

}

tbody td{
  border-collapse: collapse;
	background-color: white;
  border: solid black;
  padding: 10px;
}

body{
  text-align: center;
  margin-top: 50px;
}

label{
  font-family: arial;
}

#playButton{
  background-color: orange;
  width: 100px;
  height: 50px;
  margin-top: 15px;
  font-size: large;
  font-family: arial;
  
}
