ul{
list-style-type: none;
	overflow: hidden;
}


li {	
float: left;
margin-left: 45px;
}
#restaurantName{
	font-family:impact;
}



#footer{
	margin-top: 350px; 
	text-align: center;
	width: 100%;
	background-color: white;
}

a:visited {
	color: purple;

}

a:hover {
	font-weight: bold;
}

a:active {
	text-decoration: none;
	color: yellow;
}

.menuTable {
	table-layout: fixed;
	background-color: yellow;
	text-align: center;
	font-weight: bold;
	font-size: 25px;
	
}

.menuTable p {
	text-align: center;
	background-color: yellow;

}

.beverageTitle {
	margin-top: 250px;
}


.beveragesMenu{
	background-color: yellow;
	margin: 0px auto;
	font-style: bold;
	

}

.beveragesMenu tr td {
	text-align: left;
	padding: 5px;

}

#panel{
	border: 0px;
	background-color: yellow;
}
.backgroundMenuColor {
	background-color: yellow;
}

.carousel-indicators li {
	float: center
;
}











