ul{
list-style-type: none;
	overflow: hidden;
}


li {	
float: left;
margin-left: 45px;
}
#restaurantName{
	font-family:impact;
}



#footer{
	margin-top: 50px; 
	text-align: center;
	width: 100%;
	background-color: white;
}
















