#product1{
	text-align: center;

}

th {
	background-color: grey;
}

#product2 {
text-align: center;
margin-top: 25px;

}

}
h1{
	font-family: impact;
}

li{
	font-style: italic;
}

a{
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
	background-color: orange;
}

thead tr th{
	text-align: center;
}


tbody {
font-style: italic;
}

table{
	width: 100%;
	border: 1px solid black;


}
table.table.table-striped tr.found1 td {
    	background-color:blue;
    	padding: 0px;
    }
table.table.table-striped tr.found2 td {
    	background-color:orange;
    	padding: 0px;
    }













